cmd.txt
*/__pycache__/*
tests/test_models/__pycache__/*
tests/test_engine/__pycache__/*
models/
*/.idea/*
*/.vscode/*
*/.pytest_cache/*
*/.coverage
*/.coverage.*
*/.cache/*
*/.mypy_cache/*
*/.tox/*
*/.nox/*
*/.hypothesis/*
*/.pytest_cache/*
*/.benchmarks/*
*/.
test_save_reload_base_model.py
tmp
file.json
tests/test_models/test_amenity.py
tests/test_models/test_city.py
tests/test_models/test_place.py
tests/test_models/test_review.py
tests/test_models/test_state.py
