cmd.txt
*/__pycache__/*
*/*/__pycache__/*
models/
test_base_model.py
*/.idea/*
*/.vscode/*
*/.pytest_cache/*
*/.coverage
*/.coverage.*
*/.cache/*
*/.mypy_cache/*
*/.tox/*
*/.nox/*
*/.hypothesis/*
*/.pytest_cache/*
*/.benchmarks/*
*/.